ul {
    list-style-type: none;
    padding-left: 0;
}

.show {
    display: flex;
    align-items: center;
    column-gap: 1em;
    justify-content: left;

    border: 1px solid gray;
    border-radius: 0.2em;
    height: 7.5em;
    margin: 1em 0;
    overflow: hidden;
}

.show-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}